{% extends "base.html" %}

{% block title %}Agents{% endblock %}
{% block content %}
    <div class="container">
        <div class="tm-title">Agents</div>
        <a class="tm-button" href="{% url 'cluster:refresh' %}">Actualizar</a><br>

        {% if agents %}
             <ul class="tm-main-nav-ul-margin">
            {% for agent in agents %}
                <a href="{% url 'cluster:agent_details' agent.name %}" class="tm-nav-item-custom"><li>{{ agent.name }}</li></a>
            {% endfor %}
             </ul>
        {% else %}
            <li class="tm-nav-item-custom"><b>No hay agentes en este momento. Prueba a actualizar</b></li>
        {% endif %}
{% endblock %}