{% extends "base.html" %}

{% block title %}Agents{% endblock %}
{% block content %}
    <a href="{% url 'refresh' %}">Actualizar</a>
    {% if agents %}
        {% for agent in agents %}
            <details>
                <summary>agent: {{ agent.name }}         <a href="agents/{{ agent.name }}/details">Details</a></summary>
                <p>{% for param  in agent_params %}
                    {% if param.agent == agent %}
                        <li style="margin-left:5em"> {{ param.name }} </li>
                    {% endif %}
                {% endfor %}
                </p>
            </details>
        {% endfor %}
    {% else %}
        No hay agentes disponibles por el momento
    {% endif %}
{% endblock %}