{% extends "base.html" %}

{% block title %}New Resource{% endblock %}
{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

    <form action="{% url 'cluster:resources_created' agent.name %}" method="post">
    {% csrf_token %}
    {% for param in params %}
        <label for="param_name">{{ param.name }}</label>
        <input {% if param.content_type == 'boolean' %}type="checkbox"{% elif param.content_type == 'integer' %}type="number"{% elif param.content_type == 'string' %}type="text"{% endif %} name={{ param.name }} id={{ param.name }}{% if param.default_value == 'true' %} checked{% endif %}>
    {% endfor %}
    <input type="submit" value="Created">
    </form>

{% endblock %}