{% extends "base.html" %}

{% block title %}New Resource{% endblock %}
{% block content %}
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
    <div class="container">
        <div class="tm-title">New Resource</div>
    <form action="{% url 'cluster:resources_created' agent_name %}" method="post">
    {% csrf_token %}
        <label class="tm-nav-item-custom" for="name">Nombre recurso</label>
        <input type="text" name="nombre" id="nombre" required><br>
    {% for param in params %}
        <label class="tm-nav-item-custom" for="param_name">{{ param.name }}</label>
        <input {% if param.content_type == 'boolean' %}type="checkbox"{% elif param.content_type == 'integer' %}type="number"{% elif param.content_type == 'string' %}type="text"{% endif %} name={{ param.name }} id={{ param.name }}{% if param.default_value == 'true' %} checked{% endif %}><br>
    {% endfor %}
        <input class="tm-button-form" type="submit" value="Create">
    </form>

{% endblock %}